* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  width: 100%;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  background-color: #5e92c6;
  border-radius: 0 0 0.6rem 0.6rem;
  height: 6.5rem;
}

.info-game {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 30%;
}

img {
  width: 3rem;
}

.scored-points {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.scored-points p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}

aside {
  display: flex;
  justify-content: space-around;
  background-color: #c0caff;
  border-radius: 0 0 0.6rem 0;
  width: 40%;
}

aside button {
  margin-left: 0.4rem;
  border: none;
  width: 6rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#goal {
  color: white;
  background-color: #23a823;
}

#assist {
  color: white;
  background-color: blue;
}

#block {
  color: white;
  background-color: red;
}

#turnover {
  background-color: yellow;
}

.popup {
  visibility: hidden;
  width: 50%;
}

.visibile {
  visibility: visible;
}

/* .add-players {
  width: 80%;
}

.add-visibile {
  visibility: visible;
} */

/* ---------------- */

/* Main */

main {
  margin-top: 2%;
}

.teams-total {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.team-scored-left,
.team-scored-right {
  background-color: #c0caff;
  width: 49%;
  height: 100%;
  padding-bottom: 1rem;
}

.team-scored-left {
  border-radius: 0 0.6rem 0.6rem 0;
}

/* .score-every-point {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #23a823;
    color: white;
    height: 100%;
    width: 10%;
    padding: 1.5%;
  } */

.team-scored-right {
  border-radius: 0.6rem 0 0 0.6rem;
}

table {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.green {
  background-color: #23a823;
}

.red {
  background-color: #d92323;
  color: white;
}

/* ---------------- */

/* Footer */

footer {
  background-color: #5e92c6;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  margin-top: 2%;
  height: 100%;
}

.teamplayers-left,
.players-scored,
.teamplayers-right {
  border-radius: 0.6rem;
  border: solid white 2px;
  width: 30%;
  height: 100%;
  padding: 1rem;
  flex-wrap: wrap;
}

footer p {
  text-align: center;
  width: 100%;
}

.players {
  background-color: white;
  width: 49%;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin-bottom: 2%;
}

.players:focus,
.players:hover {
  transition: 0.3s;
  scale: 1.02;
}

/* ---------------- */
