* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  width: 100%;
}

:root {
  --header-colour: #f5e2c8;
  --light-colour: #fff;
  --dark-colour: #000000;
  --main-colour: #34435e;
  --score-colour: #23a823;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--main-colour);
  border-radius: 0 0 0.6rem 0.6rem;
  height: 10rem;
}

.info-game {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 30%;
}

img {
  width: 4rem;
}

#logo {
  width: 3rem;
}

.scored-points {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.scored-points p {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

aside {
  display: flex;
  justify-content: space-around;
  background-color: var(--header-colour);
  border-radius: 0 0 0.6rem 0;
  width: 40%;
}

aside button {
  /* margin-left: 0.4rem; */
  border: none;
  width: 6rem;
  height: 20px;
}

aside a {
  background-color: black;
  color: var(--light-colour);
  text-decoration: none;
  text-align: center;
  /* margin-left: 0.4rem; */
  width: 6rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#goal {
  color: var(--light-colour);
  background-color: var(--score-colour);
}

#assist {
  color: var(--light-colour);
  background-color: blue;
}

#block {
  color: var(--light-colour);
  background-color: red;
}

#turnover {
  background-color: yellow;
}

.popup {
  visibility: hidden;
  font-size: 20px;
  text-align: center;
  width: 25%;
  margin-top: 1rem;
}

#goal-input {
  display: flex;
  flex-direction: column;
}

.visibile {
  visibility: visible;
}

/* .add-players {
  width: 80%;
}

.add-visibile {
  visibility: visible;
} */

/* ---------------- */

/* Main */

main {
  margin-top: 1%;
}

.teams-total {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.team-scored-left,
.team-scored-right {
  background-color: var(--main-colour);
  color: var(--light-colour);
  width: 49%;
  height: 100%;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.team-scored-left {
  border-radius: 0 0.6rem 0.6rem 0;
}

/* .score-every-point {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--score-colour);
    color: var(--light-colour);
    height: 100%;
    width: 10%;
    padding: 1.5%;
  } */

.team-scored-right {
  border-radius: 0.6rem 0 0 0.6rem;
}

table {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.green {
  background-color: var(--score-colour);
}

.red {
  background-color: #d92323;
  color: var(--light-colour);
}

/* ---------------- */

/* Footer */

footer {
  background-color: var(--main-colour);
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  margin-top: 1%;
  height: 100%;
}

.teamplayers-left,
.players-scored,
.teamplayers-right {
  border-radius: 0.6rem;
  border: solid var(--light-colour) 2px;
  width: 30%;
  height: 100%;
  padding: 1rem;
  flex-wrap: wrap;
}

footer p {
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  margin-bottom: 0.1rem;
}

.players {
  background-color: var(--light-colour);
  width: 49%;
  height: 100%;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin-bottom: 2%;
}

.players:focus,
.players:hover {
  scale: 1.02;
  transition: 0.3s;
}

.players-scored {
  background-color: var(--light-colour);
}
.players-scored h3 {
  text-align: center;
  padding-bottom: 1rem;
}

.players-scored span {
  background-color: var(--score-colour);
  color: #fff;
  border-radius: 0.3rem;
  padding: 0.1rem;
}

#pretend-team span {
  color: var(--light-colour);
  background-color: #d92323;
}

/* ---------------- */

/* Form */

#post {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 2rem;
}

#post input {
  padding: 0.5rem;
}

/* Breakpoint */

@media (max-width: 500px) {
  .info-game {
    width: 100%;
  }

  aside {
    display: none;
  }

  .teamplayers-left,
  .teamplayers-right {
    display: none;
  }

  .players-scored {
    width: 100%;
  }
}
